body {
	background-image: url("../images/gudetama.png");
	overflow-x: hidden;
}
	
header, p, .btn {
	font-family: 'Ubuntu', sans-serif;
	color: white;
}
.btn { 
	margin: 7px;
}
#add-topic {
	display: none;
}
.scrolldiv {
	overflow: auto;
    white-space: nowrap;
}
.scrolldiv span {
	display: inline-block;
    text-align: center;
    padding: 14px;
}
/*html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}*/

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: solid 0 0 6px rgba(0,0,0,0.5);
}